.btn-2 {
    background-color: #dd1fb7;
}

.btn-2 .round {
    background-color: #ff4cdb;
}

.btn-1 {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    

    -webkit-transition-duration: all 0.4s ease-out; 
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

.middle-button {
    margin: inherit;
    text-align: center;
}
  
  .button1 {
    background-color: #59eeff;
    color: black; 
    font-weight: bold;
  }
  
  .button1:hover {
    background-color: #a0f5ff;
    font-weight: bold;
    color: orange;
  }

  .button2 {
    background-color: #b7ffd5;
    color: black; 
    font-weight: bold;
  }
  
  .button2:hover {
    background-color: #b489ff;
    font-weight: bold;
    color: #ff3030;
  }

